<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.dekesto.dynamictext/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dekesto.dynamictext</string>
			<key>icon</key>
			<string>enable@2x.png</string>
			<key>key</key>
			<string>enableSwitch</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.dekesto.dynamictext/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dekesto.dynamictext</string>
			<key>icon</key>
			<string>vulgar@2x.png</string>
			<key>key</key>
			<string>vulgarSwitch</string>
			<key>label</key>
			<string>Vulgar Mode</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.dekesto.dynamictext/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dekesto.dynamictext</string>
			<key>icon</key>
			<string>chevron@2x.png</string>
			<key>key</key>
			<string>chevronSwitch</string>
			<key>label</key>
			<string>Hide Chevron</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.dekesto.dynamictext/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dekesto.dynamictext</string>
			<key>icon</key>
			<string>punct@2x.png</string>
			<key>key</key>
			<string>punctSwitch</string>
			<key>label</key>
			<string>Hide Punctuation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Save is only needed when changing your name.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.dekesto.dynamictext/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.dekesto.dynamictext</string>
			<key>icon</key>
			<string>name@2x.png</string>
			<key>key</key>
			<string>DTtext</string>
			<key>label</key>
			<string>Name:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>save</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MorningListController</string>
			<key>icon</key>
			<string>morning@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>Morning</string>
			<key>label</key>
			<string>Morning Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AfternoonListController</string>
			<key>icon</key>
			<string>afternoon@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>Afternoon</string>
			<key>label</key>
			<string>Afternoon Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>EveningListController</string>
			<key>icon</key>
			<string>evening@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>Evening</string>
			<key>label</key>
			<string>Evening Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Copyright © 2014 Dekesto 1.1.6</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>@Dekesto</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>icon</key>
			<string>contribute@2x.png</string>
			<key>key</key>
			<string>Contribute</string>
			<key>label</key>
			<string>Contributors</string>
			<key>validTitles</key>
			<array>
				<string>@CPDigiDarkroom</string>
				<string>@Tavi_Toya</string>
				<string>@nOBoThERE (Tester)</string>
				<string>@eddyg_1 (Tester)</string>
				<string>/u/skyfrostdev (Tester)</string>
				<string>Kristian</string>
				<string>@jeffhuys</string>
				<string>@TomLube</string>
				<string>@Dryable</string>
				<string>@Labwis</string>
				<string>@MrLignelli</string>
				<string>@ZombieAndroid</string>
				<string>@redzrex</string>
				<string>@bendeese</string>
				<string>@esaelpffokcuf</string>
				<string>@derekschinke</string>
				<string>/u/wwahwah</string>
				<string>@yucheng33</string>
				<string>/u/TheOneManWolfPack</string>
				<string>@ludvigerikss0n</string>
				<string>/u/Fr33c3l</string>
				<string>@lmrisdal</string>
				<string>/u/hvpd23</string>
				<string>/u/eDOTiQ</string>
				<string>/u/Valteritis</string>
				<string>@FR3QU3NCYY</string>
				<string>@ShkumbinM</string>
				<string>/u/czebrda</string>
				<string>/u/nyuqq</string>
				<string>/u/loveengineer</string>
				<string>@joaozinhobrutal</string>
				<string>@el_iz_</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>30</integer>
				<integer>31</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Please consider donating to the links below</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>acs</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>acs@2x.png</string>
			<key>label</key>
			<string>American Cancer Society</string>
		</dict>
		<dict>
			<key>action</key>
			<string>aha</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>aha@2x.png</string>
			<key>label</key>
			<string>American Heart Association</string>
		</dict>
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
